<div style=@($"width: {Width};")>
    <div class="bg-black text-white fw-bold fs-6 rounded-top px-3 py-1">
        @Title
        @if (InputRequired)
        {
            <span style="color: red; font-weight: 400;"> *</span>
        }
    </div>
    <div class="bg-white bg-opacity-100 shadow px-3 py-2 text-break">
        @ChildContent
    </div>
</div>