<div class="mb-4 mt-4">
    <div class="bg-black text-white fw-bold fs-6 rounded-top px-3 py-1" style=@($"width: {Width};")>
        @Title
    </div>
    <div class="bg-white bg-opacity-100 shadow px-3 py-1 fw-bold" style=@($"width: {Width};")>
        @ChildContent
    </div>
</div>