@using ProjectIT.Client.Components.Login;

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="background_styles.css">
        <link rel="stylesheet" href="styles.css">
        <title>Responsive Navbar</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logos">
                <div class="brand-title"> 
                    <a href="/"> 
                        <img src="images/projectIT_main_logo.jpg"/> 
                    </a> 
                    ProjectIT 
                </div>
                <div class="Itu_text">
                    <h6> IT UNIVERSITETET I KØBENHAVN </h6>
                </div>
                <div class="navbar-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="Counter">Counter</a></li>
                        <li><a href="FetchData">Fetch data</a></li>
                        <li><a href="TestPage">Test</a></li>
                        @* <li><a href=""> <LoginDisplay> </LoginDisplay> </a></li> *@
                    </ul>
                </div>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a> 
            <LoginDisplay />
        </nav>
    </body>
</html>