<div class="shadow p-3 mb-5 bg-body rounded" style="width: 600px; height: 500px;">
    <h5 class="p-2"> The project title should be here </h5>
    <p class="text-break p-2"> 
        Here, the project description should be added (could be several lines)
    </p>
</div>