@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="me-3 d-flex align-items-center">
            <div class="dimensions decoration-on-hover d-flex align-items-center">
                <a class="text-decoration-none fw-bold text-white px-3 py-4" @onclick="BeginLogOut"> Log out </a>
            </div>
            <img style="height: 40px; padding-right: 7px;" src="images/profile_icon.png" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="me-3">
            <a class="decoration-on-hover text-decoration-none fw-bold text-white pb-4 me-2" @onclick="BeginLogIn"> Log in </a> 
        </div>
    </NotAuthorized>
</AuthorizeView>