@page "/testpage"
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Components.ProjectDetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject HttpClient httpClient

<PageTitle>A test page</PageTitle>

<SearchField PlaceholderText="Some placeholder text..." />
<div>
    <div>

        <SearchField PlaceholderText="This search field has correct length and height" Height="2.4rem" Width="43rem" />

        <FilterPanelTopics OnInitializedData="FilterPanelTopicInitialized" DataChanged="OnTagClickedInFilterPanel" />

        <FilterPanelTopics OnInitializedData="FilterPanelTopicInitialized" DataChanged="OnTagClickedInFilterPanel" />

        @if (GptResult != null)
        {
            @GptResult
        }
    </div>
</div>