@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Constants
@inject HttpClient httpClient
@inject IStringLocalizer<EnumsResource> EnumsLocalizer

<div class="card-zoom card-size mb-3">
    <a href=@($"{PageUrls.Supervisors}/{Id}") class="link-dark text-decoration-none card-size d-block">
        <div class="shadow rounded bg-white rounded-1 px-4 py-2 mb-3 card-size overflow-hidden card-wrapper">
            <div class="row">
                <img src=@("https://img.freepik.com/free-icon/user_318-159711.jpg") class="rounded-circle img-fluid col-md-3" />
                <div class="col-md-9">
                    <div class="d-flex flex-row align-items-center justify-content-between fs-4 fw-bold truncate-text pb-2">
                        @Name
                        <div class="d-flex">
                            <div class="fs-7">
                                <span class=@($"border rounded rounded-3 px-2 fs-8 text-white d-inline-block {StatusBackgroundColor}")>@Status.GetTranslatedString(EnumsLocalizer)</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-start flex-wrap overflow-hidden topics-div-max-height">
                        <TagsDisplay Tags="Topics.Select(topic => new FilterTag { Tag = topic.Name, Selected = true }).ToList()" />
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>