@using ProjectIT.Shared.Models;
@using ProjectIT.Shared.Enums;
@using ProjectIT.Client.Components.Tag;
@using ProjectIT.Client.Components.ProjectCard;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Tag Text="Test text" />