@page "/projectDetails"
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Pages
@using ProjectIT.Client.Components.ProjectDetailsView
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager navigationManager

<PageTitle> Project Details </PageTitle>
<br>
<div class="d-flex flex-row justify-content-center" style="gap: 50px;">
    <div class="d-flex flex-column" style="gap: 50px;">
        <div>
            <Panel Title="Project Info">
                <p class="pt-2">
                    Programme: <br>
                    <p1 class="fw-normal">  </p1> <br> <br>
                    ECTS Points: <br>
                    <p1 class="fw-normal"> 15 ECTS </p1> <br> <br>
                    Semester: <br>
                    <p1 class="fw-normal"> Spring 2024 </p1> <br> <br>
                    Language: <br>
                    <p1 class="fw-normal"> English </p1>
                </p>
            </Panel>
        </div>

        <div>
            <Panel Title="Topics">
                <TagsDisplay @bind-Tags="Tags"/>
            </Panel>
        </div>
    </div>
    <ProjectDetailsView/>
    <div class="d-flex flex-column" style="gap: 50px;">
        <div>
            <Panel Title="Supervisor">
                <p class="pt-2">
                    Info: <br>
                    Jannick Vestergaard <br>
                    jave@itu.dk <br>
                    Profession
                </p>
            </Panel>
        </div>
        <div>
            <Panel Title="Co-supervisor">
                <p class="pt-2">
                    Info: <br>
                    Jannick Vestergaard <br>
                    jave@itu.dk <br>
                    Profession
                </p>
            </Panel>
        </div>
        <button @onclick="(() => ApplyProject(navigationManager))" type="button" class="btn btn-success fw-bold"> Apply </button>
    </div>
</div>