.profile-page-icon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.editform{
    width: 700px;
}

.topics-panel-items-horizontal-gap{
    gap: 100px;
}

.create-topic-button-gap{
    gap: 5px;
}

.image-size{
    width: 20px;
    height: 20px;
}

.action-buttons-gap{
    gap: 25px;
}

.button-width{
    width: 200px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.add-image-size {
    width: 24px;
}