.profile-page-icon{
    margin-left: 10.0rem;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.editform{
    width: 700px;
}

.info-panel-items-horizontal-gap{
    gap: 120px;
}

.topics-panel-items-horizontal-gap{
    gap: 100px;
}

.create-topic-button-gap{
    gap: 5px;
}

.image-size{
    width: 20px;
    height: 20px;
}

.action-buttons-gap{
    gap: 25px;
}

.button-width{
    width: 200px;
}

