<button class="border border-dark rounded rounded-3 px-2 fs-7 bg-pink bg-opacity-10 d-inline-block" @onclick="OnClicked">
    @Text
    <img class="ms-1" src="images/baseline_clear_24.png" alt="Clear" width="9" height="9" />
</button>