<button class=@($"border border-dark rounded rounded-3 px-2 m-1 fs-8 bg-pink bg-opacity-10 d-inline-block {(IsDisabled ? "text-black" : "")}") disabled="@IsDisabled" @onclick="OnClicked">
    <div class="d-flex flex-row align-items-center"> 
        @Tag.Tag
        @if (!IsDisabled)
        {
            <img class="ms-1" src="images/baseline_clear_24.png" alt="Clear" width="9" height="9" />
        }
    </div>
</button>