@using ProjectIT.Client.Components.Filter;
@using ProjectIT.Client.Components.Tag;

@if (Tags != null)
{
    @foreach (FilterTag filterTag in Tags)
    {
        @if (filterTag.Selected)
        {
            <span class="mx-1">
                <Tag Text="@filterTag.Tag" OnClicked="() => TagClicked(filterTag)" />
            </span>
        }
    }
}