@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <div>
            <a class="text-decoration-none fw-bold text-white p-3" href="authentication/logout"> Log out </a>
            <img style="height: 40px; padding-right: 7px;" src="images/profile_icon.png" alt="Pic not found" />
        </div>
    </Authorized>
    <NotAuthorized>
        <a class="text-decoration-none fw-bold text-white p-3" href="authentication/login"> Log in </a> 
    </NotAuthorized>
</AuthorizeView>

