@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <li><a style="text-decoration: none; color: white;" href="" @onclick="BeginLogOut"> Log out </a></li>
    </Authorized>
    <NotAuthorized>
        <a style="text-decoration: none; color: white;" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
