@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />
        <RadzenDialog />
        <article class="content px-4 bg-light">
            @Body
        </article>
    </main>
</div>
