* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.96);
    height: 4.7rem;
    width: 100%;
}

.active {
    border-bottom: 4px solid #F8F9FA !important;
}

.decoration-on-hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.line-style {
    border-right: 2px solid white; 
    height: 50px; 
    width: 0px;
}

.dimensions {
    height: 4.7rem;
    width: 7rem;
}

.padding-profile {
    padding-bottom: 25.5px;
}

.profile-page-icon-dimensions {
    height: 4.7rem;
    width: 5rem;
}

.link-padding {
    padding-right: 2.3rem;
    padding-left: 2.3rem;
}

.img-height {
    height: 40px !important;
}

.cursor-pointer {
    cursor: pointer;
}