@using ProjectIT.Client.Components.Login

<body>
    <nav class="navbar">
        <div class="d-flex align-items-center" style="gap: 10px;">
            <div class="d-flex flex-column justify-content-center p-3">
                <img src="images/projectIT_main_logo.jpg" alt="">
                <h4 class="text-white"> ProjectIT </h4>
            </div>
            <div style=" border-right: 2px solid white;height: 50px;width: 20px; "></div>
            <h5 class="text-white p-3"> IT UNIVERSITETET I KØBENHAVN</h5>
            <span style="width: 40px;"> </span>
            <div class="d-flex" style="gap: 50px;">
                <a class="text-decoration-none fw-bold p-1 text-white" href="#"> Home </a>
                <a class="text-decoration-none fw-bold p-1 text-white" href="Counter"> Counter </a>
                <a class="text-decoration-none fw-bold p-1 text-white" href="FetchData"> Fetch Data </a>
                <a class="text-decoration-none fw-bold p-1 text-white" href="TestPage"> Test </a>
                <a class="text-decoration-none fw-bold p-1 text-white" href="ProjectDetails"> ProjectDetails </a>
            </div>
        </div>
        <LoginDisplay> </LoginDisplay>
    </nav>    
</body>