<div class="ProjectView">
    <h3>Title</h3>
    <div class="ProjectDescriptionView">
        <span class="description">Description</span>
    </div>
    <div class="Project-bottom">
        <div class="student-profile">
            <h5>Supervisor Name</h5>
        </div>
    </div>
</div>