<div class="border border-dark rounded rounded-pill px-2 fs-20 bg-primary bg-opacity-50 d-inline-block">
    @Text
    <img class="" src="images/baseline_clear_24.png" alt="Clear" width="9" height="9" />
</div>