.btn-style {
    width: 10rem;
}

.ai-btn-style {
    width: 6rem;
}

.main-view-size {
    width: 45rem;
    height: 100%;
}

.rotate-45 {
    transform: rotate(45deg);
}

.add-image-size {
    width: 24px;
}

.ai-image-size {
    width: 70px;
}