/* ******************************************************************************************************* */
/* 1. Include functions first (so you can manipulate colors, SVGs, calc, etc) */
@import "../wwwroot/lib/bootstrap/scss/functions";

/* ******************************************************************************************************* */
/* 2. Include any default variable overrides here */
@import url("https://fonts.googleapis.com/css2?family=Scada");
$font-family-base: 'Scada', sans-serif;

$box-shadow: 0 .2rem .8rem rgba(#0000, .15);

$form-check-input-checked-bg-color: #FFFFFF;
$projectit-black: rgba(0, 0, 0, 0.96);
$form-check-input-checked-border-color: $projectit-black;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='4 3 13 12'><path fill='none' stroke='#{$projectit-black}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");

/* ******************************************************************************************************* */
/* 3. Include remainder of required Bootstrap stylesheets */
@import "../wwwroot/lib/bootstrap/scss/variables";

/* ******************************************************************************************************* */
/* 4. Include any default map overrides here */

// Colors.
$tag-pink: #FFC0CB1A;
$custom-colors: ( "projectit-black": $projectit-black, "tag-pink": $tag-pink );
$custom-theme-colors: ( "black": $projectit-black, "pink": $tag-pink );

$colors: map-merge($colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Fonts.
$h6-font-size: $font-size-base * 1.125; // Overrides default Bootstrap h6-font-size.
$h7-font-size: $font-size-base; // This is equivalent to default h6-font-size.
$h8-font-size: $font-size-base * 0.85; // This one and all others below are custom ones added for extra options.
$h9-font-size: $font-size-base * 0.70;
$h10-font-size: $font-size-base * 0.50;

$custom-font-sizes: ( 6: $h6-font-size, 7: $h7-font-size, 8: $h8-font-size, 9: $h9-font-size, 10: $h10-font-size );

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

/* ******************************************************************************************************* */
/* 5. Include remainder of required parts */
@import "../wwwroot/lib/bootstrap/scss/maps";
@import "../wwwroot/lib/bootstrap/scss/mixins";
@import "../wwwroot/lib/bootstrap/scss/forms";
@import "../wwwroot/lib/bootstrap/scss/root";

/* ******************************************************************************************************* */
/* 6. Optionally include any other parts as needed */
@import "../wwwroot/lib/bootstrap/scss/utilities";

// Override utilities.
$utilities: map-merge( $utilities, ( "font-family": map-merge( map-get($utilities, "font-family"), ( values: map-merge( map-get(map-get($utilities, "font-family"), "values"), (scada: var(--#{$prefix}font-scada)), ), ), ), "width": map-merge( map-get($utilities, "width"), ( values: map-merge( map-get(map-get($utilities, "width"), "values"), (95: 95%), ), ), ), ) );

/* ******************************************************************************************************* */
/* 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss` */
@import "../wwwroot/lib/bootstrap/scss/utilities/api";

/* ******************************************************************************************************* */
/* 8. Add additional custom code here */
