@page "/create-project"
@using ProjectIT.Client.Components.Filter
@using ProjectIT.Client.Components.ProjectCard
@using ProjectIT.Client.Components.Search
@using ProjectIT.Client.Components.Tag
@using ProjectIT.Client.Components.Panel
@using ProjectIT.Client.Http;
@using ProjectIT.Shared.Enums;
@using ProjectIT.Shared.Models;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AnonymousClient httpClient
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime

<div class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-3 filter-size">
            <div class="my-4">
                <FilterPanelSimple Title="Programme"
                                   Type="FilterType.Programme"
                                   DataChanged="OnTagClickedInFilterPanel" />
            </div>
            <div class="my-4">
                <Panel Title="ECTS Points">
                    <RadzenRadioButtonList Data="ectsWrappers" @bind-Value=project.Ects TValue="Ects?" TextProperty="StringValue" ValueProperty="Ects" Orientation="Orientation.Vertical" class="radio-button-item-margin" />
                </Panel>
            </div>
            <div class="my-4">
                @{
                    DateTime date = DateTime.Now;
                }
                <Panel Title="Semester">
                    <RadzenRadioButtonList @bind-Value=project.Semester TValue="Semester">
                        <Items>
                            <RadzenRadioButtonListItem Text=@($"Spring {date.Year}") Value="new Semester { Season = Season.Spring, Year = date.Year }" />
                            <RadzenRadioButtonListItem Text=@($"Autumn {date.Year}") Value="new Semester { Season = Season.Autumn, Year = date.Year }" />
                            <RadzenRadioButtonListItem Text=@($"Spring {date.Year + 1}") Value="new Semester { Season = Season.Spring, Year = date.Year + 1 }" />
                            <RadzenRadioButtonListItem Text=@($"Autumn {date.Year + 1}") Value="new Semester { Season = Season.Autumn, Year = date.Year + 1 }" />
                        </Items>
                    </RadzenRadioButtonList>
                </Panel>
            </div>
            <div class="my-4">
                <FilterPanelSimple Title="Language"
                                   Type="FilterType.Language"
                                   DataChanged="OnTagClickedInFilterPanel" />
            </div>
            <div class="my-4">
                @if (topics != null)
                {
                    <Panel Title="Topics">
                        <RadzenDropDown @ref="topicSelector"
                                        TValue="Topic"
                                        Placeholder="Select topics"
                                        AllowFiltering="true"
                                        ClearSearchAfterSelection="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        Data=@topics
                                        Change="OnTopicSelectedInList"
                                        ValueProperty="Name"
                                        TextProperty="Name"
                                        Style="width: 100%; max-width: 400px;">
                            <Template>
                                @context.Name
                            </Template>
                        </RadzenDropDown>
                        @foreach (var topic in projectTopics)
                        {
                            <TagBox Tag="@(new FilterTag { Tag = topic.Name })" IsDisabled="false" OnClicked="() => OnSelectedTopicClicked(topic)" />
                        }
                    </Panel>
                }
            </div>
        </div>
        <div class="col-md-6 main-view-size">
            <div>
                <EditForm Model="@project" OnSubmit="SubmitProjectAsync">
                    <p class="fs-7 fw-bold">Title</p>
                    <InputText class="border border-0 shadow rounded-1 fs-7 px-3 mb-4" style="width: 45rem; height: 2.5rem" @bind-Value="project!.Title" placeholder="Title here..." />
                    <p class="fs-7 fw-bold">Description</p>
                    <RadzenHtmlEditor @bind-Value="@descriptionHtml" class="border border-0 shadow mb-4" style="height:40rem; width: 45rem" />
                    
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger fw-bold py-1 btn-style" @onclick="CancelProjectAsync">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-success fw-bold py-1 ms-3 btn-style">
                            Post
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>